@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    flex-direction: row;
}

.title_label {
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    padding: 28px 30px 0px 40px;
    color: #001168;
    background-color: white;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile_label {
    position: flex;
    float: right;
    color: #1974d2;
    font-size: 14px;
    font-weight: 600;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    overflow: hidden;
    padding: 10px 20px 0px 60px;
}

.profile_img {
    position: flex;
    border-radius: 40px;
    margin: 0;
    float: left;
    height: 50px;
    width: 50px;
    margin: 15px 40px 0px 95px;
}

.info_img {
    position: flex;
    width: 17px;
    height: 17px;
    margin: 0;
    padding-top: 25px;
    padding-right: 10px;
}

.block_row_wrapper{
    display: flex;
    flex-direction: row;
}

.block_column_wrapper{
    display: flex;
    flex-direction: column;
}

.content_wrapper{
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color:	#F1F1F1;
    margin: 2px 0 0 2px;
    text-align: center;
    overflow-x: hidden;
}

.content_title{
    font-size: 14px;
    color: #001168;
    font-weight: 600;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.content_sub_title{
    font-size: 8px;
    color: #918f8f;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.stats_title{
    font-size: 11px;
    color: #918f8f;
    padding: 0 5px 5px 5px;
    text-align: center;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.stats_value{
    font-size: 16px;
    font-weight: 500;
    color: #001168;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    padding: 5px 5px 5px 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.project_content_wrapper:hover{
    background-color: #F1F1F1;
}

.project_content{
    font-size: 13px;
    color: black;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    text-align: center;
    padding: 0px 10px 0px 7px;
}