.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    flex-direction: row;
}

.title_label {
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    padding: 25px 30px 0px 50px;
    color: black;
    background-color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile_label {
    position: flex;
    float: right;
    color: #1974d2;
    font-size: 15px;
    font-weight: 600;
    padding: 40px 0px 0px 250px;
}

.profileImg {
    position: flex;
    border-radius: 40px;
    margin: 0;
    float: right;
    height: 50px;
    margin: 23px 0px 0px 25px;
}