.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    flex-direction: row;
}

.title_label {
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    padding: 25px 50px 0px 50px;
    color: black;
    background-color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile_label {
    position: flex;
    float: right;
    color: #1974d2;
    font-size: 15px;
    font-weight: 600;
    width: 130px;
    height: 50px;
    padding: 40px 20px 0px 60px;
}

.profile_img {
    position: flex;
    border-radius: 40px;
    margin: 0;
    float: left;
    height: 50px;
    margin: 23px 40px 0px 0px;
}

.block_row_wrapper{
    display: flex;
    flex-direction: row;
}

.block_column_wrapper{
    display: flex;
    flex-direction: column;
}

.content_wrapper{
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color:	#F1F1F1;
    margin: 1px;
    text-align: center;
    overflow-x: hidden;
}

.content_title{
    font-weight: bold;
    font-size: 14px;
    color: #001168;
}

.stats_title{
    font-size: 12px;
    color: #918f8f;
    padding: 0 5px 5px 5px;
}

.stats_value{
    font-size: 17px;
    font-weight: 600;
    color: #001168;
    padding: 0 5px 5px 5px;
}