body{
    background-color: #faf0e6;
}

.page_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #faf0e6;
    flex-direction: row;
}
  
.page_container {
    max-width: 1200px;
    min-width: 1200px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    height: 750px;
    background-color: white;
    border-radius: 16px;
    overflow: auto;
    color: black;
    overflow: hidden;
}
