.page_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: white;
}
  
.page_container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    height: calc(100vh - 80px);
    background-color: #faf0e6;
    border-radius: 16px;
    overflow: auto;
    color: black;
}
